{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Restaurant Gastronomique de Rouen{% endblock %}

{% block body %}
    {# <div class="p-5" data-controller="say-hello">
        <label for="#name-input" class="form-label">
            Nom :
        </label>
        <input id="#name-input" type="text" class="form-control-sm" {{ stimulus_target('say-hello', 'name') }}>
        <button class="btn btn-primary" data-action="say-hello#greet">
            Greetings
        </button>

        <h1 {{ stimulus_target('say-hello', 'output') }}></h1>
    </div> #}
    <h2 class="m-3 featured">A l'affiche</h2>

{% endblock %}
