/**
    -- GLOBALS --
*/
h1 {
    font-family: 'Cormorant Upright', serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
}

a {
    cursor: pointer;
}

body {
    font-family: 'Nutito Sans', serif;
    overflow-x: hidden;
}

card {
    --bs-gutter-x: 0;
}

/**
    -- HOMEPAGE --
 */
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-button {
    text-decoration: underline;
    font-family: 'Nunito Sans', serif;
    font-size: 95%;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.7);
}

.connect-button:hover {
    color: rgba(0, 0, 0, 0.9);
}

.book-table {
    font-family: 'Nunito Sans', serif;
    padding: 0.5rem;
    border: #B0413E 1px solid;
    border-radius: 5px;
    color: white;
    background-color: #B0413E;
    text-decoration: none;
}

.book-table:hover {
    filter: brightness(0.95);
    color: white;
}

.book-table:active {
    scale: 0.95;
}

.featured-items {
    margin: 0 1.5rem;
    /* TODO : REMOVE AFTER STYLING featured-items SECTION */
    border: #B0413E 1px solid;
}

.carousel {
    width: 70vw;
}

.carousel-item img {
    border-radius: 0;
    aspect-ratio: 16/9;
}

.carousel-item > .card {
    border: none;
    border-radius: 0;
}

/* Card title visible on hover */
.card > .card-img-overlay {
    opacity: 0;
}
.card:hover > .card-img-overlay {
    transition-property: opacity;
    transition-duration: 100ms;
    opacity: 100%;
    background: rgba(0,0,0, 50%);
}

footer {
    background-color: #B0413E;
    color: white;
}

.footer-links a {
    color: white;
}

.footer-links a:hover {
    color: white;
}

.schedule-table {
    height: 350px;
    width: 250px;
    text-align: center;
}

.schedule-table th, .schedule-table td {
    border: 1px white solid;
}

.custom-title-underline {
    width:100px;
}
/**
    -- ALL MEALS PAGE --
 */
.menu-item {
    border: 1px black solid;
    border-radius: 3px;
}
.formula-item {
    border: 1px gray solid;
    border-radius: 2px;
}